.metadata
.project
.settings
.settings/*
.project
.gitignore~
.DS_Store
bin/
*~
/**/target/*
/**/target
/**/.project
/**/.classpath
/**/.settings
/**/.settings/*
/**/bin
/**/bin/*
/**/derby.log
*.orig
.springBeans
.buildpath